@using Model_in_MVC.Models
@model Emp_template

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DisplayName("Name")
        <br />
        <br />
        @Html.DisplayNameFor(x => x.BirthDate)
        <br />
        <br />
        <hr />
        @Html.DisplayText("Name")
        <br />
        <br />
        @Html.DisplayText("BirthDate")
        <br />
        <br />
        @Html.Display("Name")
        <br />
        <br />
        @Html.DisplayFor(x => x.Email)
        <hr />
        <hr />
        @Html.DisplayForModel()
    </div>
</body>
<style>

    .display-label {
        width:300px;
        padding:10px;
        background-color:aqua;
        border-radius:5px;
    }
    .display-field{
        width: 300px;
        padding: 10px;
        background-color: antiquewhite;
        border-radius: 20px !important;
        margin:10px;
    }
</style>

</html>
